.slide-image {
  width: 100%;
  height: auto;
  max-height: 600px; /* Adjust the height as desired */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 20px;
}

.arrow-right {
  right: 20px;
}