.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  width: 30px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 18px;
}

.navbar-items {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.navbar-items a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}
